Repository kare/vanity, changes with the labels that .github/labeler.yaml gives for each.
All labels: documentation, ci, test, build

.github/labeler.yaml:

---
documentation:
  - "LICENSE*"
  - "*.md"
  - "**.md"
ci:
  - ".github/*"
  - ".github/**"
  - ".yamllint"
test:
  - "*_test.go"
  - "**_test.go"
build:
  - ".gitignore"
  - "Makefile"
  - "go.*"
  - "release*.bash"

test: run tests in parallel
  vanity_test.go
Labels: test

doc: improve RobotsTxt option doc comment
  vanity.go
Labels: none

feat: add new option for setting a custom hostname
  vanity.go
  vanity_test.go
Labels: test

docs: update README.md
  README.md
Labels: documentation

refactor: add comment variable
  vanity.go
Labels: none

refactor: fix permission check for static dir
  vanity.go
  vanity_integration_test.go
Labels: test

test: fix lint nits
  testdata/index.html
  vanity_test.go
Labels: test

ci: automate release notes from PRs
  .github/release.yaml
Labels: ci

ci: build feature branches
  .github/workflows/ci.yaml
Labels: ci

ci: remove scope from Dependabot commit messages
  .github/dependabot.yaml
Labels: ci
