Repository kare/vanity, changes with the labels that .github/labeler.yaml gives for each.
All labels: documentation, ci, test, build, refactor

.github/labeler.yaml:

---
documentation:
- changed-files:
  - any-glob-to-any-file:
    - "LICENSE*"
    - "*.md"
    - "**.md"
ci:
- changed-files:
  - any-glob-to-any-file:
    - ".github/*"
    - ".github/**"
test:
- changed-files:
  - any-glob-to-any-file:
    - "**/*_test.go"
build:
- changed-files:
  - any-glob-to-any-file:
    - ".gitignore"
    - "Makefile"
    - "go.*"
    - "release*.bash"
refactor:
- changed-files:
  - any-glob-to-any-file:
    - "**/*.go"
feature:
  - head-branch: ['^feature']

ci: rename workflow
  .github/workflows/triage.yaml
Labels: ci

test: add validate Go package test
  vanity_internal_test.go
Labels: test, refactor

ci: add staticcheck version
  .github/workflows/ci.yaml
Labels: ci

test: remove broken test
  vanity_internal_test.go
Labels: test, refactor

build: Go 1.24
  go.mod
Labels: build

ci: bump staticcheck from 2024.1 to 2025.1.1
  .github/workflows/ci.yaml
Labels: ci

ci: remove Dependabot reviewers
  .github/dependabot.yaml
Labels: ci

ci: remove feature branches
  .github/workflows/ci.yaml
Labels: ci

ci: update labeler permissions
  .github/workflows/triage.yaml
Labels: ci

refactor: rename vanity.Host() to vanity.Domain()
  vanity.go
  vanity_test.go
Labels: test, refactor

ci: fix issues permission name
  .github/workflows/triage.yaml
Labels: ci

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/release-created.yaml
Labels: ci

Potential fix for code scanning alert no. 3: Workflow does not contain permissions
  .github/workflows/ci.yaml
Labels: ci
